<div class="large-12 columns small-centered">
	<div class="row collapse postfix-radius">
		<div class="small-8 columns">
			<input type="text" placeholder="Project Name" name="project_name" ng-model="prj_name" ng-init="prj_name=prj.project_name">
		</div>
		<div class="small-2 columns">
			<a class="button postfix secondary" ng-model="project" ng-click="hideEditProjectForm(prj); updateProject(prj, prj_name)">Save</a>
		</div>
		<div class="small-2 columns text-center">
			 <a ng-click="hideEditProjectForm(prj)">Cancel</a>
		</div>
	</div>
</div>

<div class="small-12 columns"><hr></div>
