<div class="large-6 columns small-centered">
	<div class="row collapse postfix-radius">
		<div class="small-10 columns">
			<input type="text" placeholder="Project Name" name="project_name" ng-model="project">
		</div>
		<div class="small-2 columns">
			<a class="button postfix secondary" ng-model="project" ng-click="hideProjectForm(); addProject(project)">Save</a>
		</div>
		<div class="small-12 columns text-center">
			 <a ng-click="hideProjectForm()">Cancel</a>
		</div>
	</div>
</div>

<div class="small-12 columns"><hr></div>
